<div [id]="localCallId" class="local">
</div>

<div *ngFor="let callId of remoteCalls" [id]="callId" class="remote">
  <div class="button-wrapper" *ngIf="callStatus">
    <button *ngIf="audioStatus" mat-raised-button style="border-radius: 50%; background-color: white" (click)="pressMic()">
      <mat-icon>mic</mat-icon>
    </button>
    <button *ngIf="!audioStatus" mat-raised-button color="warn" style="border-radius: 50%;" (click)="pressMic()">
      <mat-icon>mic_off</mat-icon>
    </button>
    <button mat-fab color="warn" (click)="endCall()">
      <mat-icon>call_end</mat-icon>
    </button>
    <button *ngIf="videoStatus" mat-raised-button style="border-radius: 50%; background-color: white" (click)="pressVideo()">
      <mat-icon>videocam</mat-icon>
    </button>
    <button *ngIf="!videoStatus" mat-raised-button color="warn" style="border-radius: 50%;" (click)="pressVideo()">
      <mat-icon>videocam_off</mat-icon>
    </button>
  </div>
</div>

<ng-container *ngIf="!callStatus">
  <div class="text-center">
    <h2>Thanks for choosing our App! 😊</h2>
  </div>
</ng-container>

<ng-container *ngIf="!waitingStatus">
  <div class="text-center">
    <h3>Wait for the other user to join the call! 😊</h3>
  </div>
</ng-container>
